<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <!-- Styles -->
  <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
  <script src="webjars/popper.js/1.16.1-lts/dist/umd/popper.min.js"></script>
  <script src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script src="webjars/highlightjs/11.5.0/highlight.min.js"></script>
  <!-- Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="webjars/font-awesome/6.5.2/css/all.min.css"/>
  <link rel="stylesheet" href="webjars/highlightjs/11.5.0/styles/atom-one-light.min.css">
  <title>Remote HSM - Backend For Frontend (BFF)</title>
</head>

<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Remote HSM - Backend For Frontend (BFF)</h1>
    </div>
    <div class="card-body">

      <p>Set authorization code '0102030405' for client 'https://wallets/digg.se/1234567890' and kid
        'wallet-gen-key-1'</p>
      <a href="pin-reg-authz?client_id=https%3A%2F%2Fwallets%2Fdigg.se%2F1234567890&kid=wallet-gen-key-1&code=0102030405">pin-reg-authz?client_id=https%3A%2F%2Fwallets%2Fdigg.se%2F1234567890&kid=wallet-gen-key-1&code=0102030405</a>
    </div>
  </div>
</div>

</body>
</html>
